body {
    font-family: 'serif';
    background-color: lightgray;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#nav_bar {
    margin-bottom: 0px;
    padding: 0px;
    background-color: lightgray;
}

#weather {
    color: rgb(31, 185, 206);
    font-size: 25px;
    font-weight: 600px;
}

.fa {
    font-size: 25px;
}

#nav_list >li >a {
    color:rgb(31, 185, 206);
    font-weight: 500;
}

#head-row {
    background: url(https://images.unsplash.com/photo-1592210454359-9043f067919b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8d2VhdGhlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    margin-top: 0px;
    margin-left: 0px;
}

#colHeadText1 {
    color: black;
    font-size: 50px;
    padding-top: 30px;
}

#colHeadText2 {
    color: black;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 25px;
}

#list_item {
    color: rgb(247, 47, 25);
    font-size: 35px;
    text-align: center;
}

#cityDiv {
    width: 60%;
    margin: auto;
    text-align: center;
}

input[type='text']{
    height: 40px;
    font-size: 20px;
}

#submitCity{
    height: 40px;
    font-size: 20px;
    color: black;
}

.footer {
    background-color: rgb(31, 185, 206);
    width: 100%;
    height: 80px;
    margin-top: 100px;
    bottom: 0;
}

#showWeather {
    margin: auto;
    background-color: rgb(31, 185, 206);
    color: black;
    border-radius: 25px;
    width: 60%;
    height: auto;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 1cm;
}

#welcome-para {
    font-size: 25px;
    font-weight: normal;
    padding: 12px 25px 40px 25px;
    letter-spacing: 0.5px;
}

#rowDiv{
    margin: auto;
    width: 100%;
}

#colDesc h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
   text-transform: uppercase;
}

#colDesc {
    border: 1px solid black;
    margin: 0 auto;
    height: auto;
}

.info-icon {
    text-align: center;
}

.info-icon i {
    font-size: 60px;
    margin-top: 10px;
    color:rgb(31, 185, 206) ;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}